# Ignore PyCharm project files
.idea/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore text editor backups
*.swp
*.bak
*.tmp

# Ignore system files
.DS_Store
Thumbs.db